name: CI

on:
  push: #pipeline irá roda em qualquer push, para qualquer branch
    branches: [ "**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest #cria uma Vm limpa para rodar tudo dentro dela
    steps:
      - uses: actions/checkout@v4 #baixa o repositório para máquina virtual

      - name: Set up Python #instala o python automaticamente
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies # atualiza o pip e instala todas as lib da requirements.txt
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Black #valida formatação do código
        run: black --check . #se estiver fora do padrão ele falha

      - name: Isort #checa a organização dos imports
        run: isort --check-only . #se estiver fora do padrão ele falha

      - name: Flake8 #valida variáveis e padrões não usados na aplicação
        run: flake8 .

      - name: Run Tests #define a variavel de ambiente
        env:
          DJANGO_SETTINGS_MODULE: config.settings
        run: pytest -q #se qualquer teste falhar a pipeline quebra
